[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/tpope/start/dispatch"]
	path = .vim/pack/tpope/start/dispatch
	url = https://tpope.io/vim/dispatch.git
[submodule ".vim/pack/tpope/start/fugitive"]
	path = .vim/pack/tpope/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule ".vim/pack/airblade/start/vim-gitgutter"]
	path = .vim/pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/scrooloose/start/syntastic"]
	path = .vim/pack/scrooloose/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/pack/git-plugins/start/ale"]
	path = .vim/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/vim-go/start/vim-go"]
	path = .vim/pack/vim-go/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/ack-plugin/start/ack"]
	path = .vim/pack/ack-plugin/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/plugins/start/lightline"]
	path = .vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/themes/opt/solarized8"]
	path = .vim/pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule ".vim/pack/fzf/start/fzf"]
  path = .vim/pack/fzf/start/fzf
  url = https://github.com/junegunn/fzf 
[submodule ".vim/pack/plugins/start/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/plugins/start/nerdtree-git-plugin"]
	path = .vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
